DATABASE_URL="postgresql://postgres:1111@localhost:5432/postgres?schema=public"
JWT_SECRET="secret"
CLOUDINARY_CLOUD_NAME="cloudinary-name"
CLOUDINARY_API_KEY="cloudinary-api-key"
CLOUDINARY_API_SECRET="cloudinary-api-secret"